input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched, select.ng-valid.ng-touched {
  background-color: rgb(162, 224, 245)
}

.help-block {
    font-size: 11px;
    color: red;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
}

::placeholder {
    font-size: 11px;
    font-family: 'Montserrat-Regular';
}


.centered {
    height: 500px;
    width: 550px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
}

#login {
    font-family: 'Montserrat';
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    color: rgb(23, 162, 184);
}

#loginSec {
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    color: black;
    padding-left: 30%;
}

.label {
    font-size: 18px;
    font-weight: bold;
}

.form-control {
    width: 60%;
}

.buttons {
    margin-left: 45%;
    width: 500px
}

.createAcc {
    font-size: 12px;
    font-family: 'Montserrat-Regular';
    padding-left: 35%;
}

#create{
    font-size: 11px;
    margin-left: 10%;
}



