<div class="split left">
    <div class="centered">
        <img src="assets\images\login.png" alt="">
        <h1>The Hermanas Forum</h1>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <div class="container">
            <h2>WELCOME!</h2>
            <div class="buttons">
                <button 
                    type="button"
                    id="registerBtn"
                    class="btn btn-info">
                    Register</button> 
            </div>
            <div class="buttons">
                <button 
                    type="button" 
                    id="loginBtn"
                    class="btn btn-outline-info"
                    (click)="goToUserLogin()"
                    >Login as Member</button>
            </div>
            <div class="buttons">
                <button 
                    type="button" 
                    id="adminBtn"
                    class="btn btn-outline-info"
                    >Login as Admin</button>
            </div>
        </div>

    </div>
</div>


